@media only screen and ( max-width : 768px ) {

  div h1, h2, h3, h4 {
    color: #454545;
    font-weight: 700;
    height: auto;
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
  }

  img {
    height: auto;
    max-height: 120px;
    max-width: 120px;
    width: auto;
  }

  p {
    color: #454545;
    height: auto;
    margin-bottom: 3%;
  }

  .navbar {
    background-color: white;
    border-bottom: 1px dotted #454545;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    font-weight: 500;
    height: 5%;
    justify-content: space-around;
    padding-top: 5px;
    position: fixed;
    width: 100%;
  }

  button p {
    color: rgb(43, 17, 0);
    height: auto;
  }

  .products_list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    margin-top: 10%;
  }

  nav a {
    color: #454545;
    font-weight: 700;
    height: 1px;
    text-decoration: none;
  }

  .username_div {
    height: 10px;
  }

  article {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin-bottom: 20%;
    width: 48%;
  }

  article img {
    height: auto;
    max-height: 160px;
    max-width: 160px;
    width: auto;
  }

  .product_title {
    align-items: center;
    box-shadow: #454545;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 15%;
    text-align: center;
    width: 100%;
  }

  article h2 {
    color: #454545;
    height: auto;
    line-height: 1em;
    padding: 5px;
  }

  article h4 {
    color: #454545;
    height: auto;
  }

  .img_drink_container {
    align-items: center;
    background-color: white;
    display: flex;
    height: 50%;
    justify-content: center;
    margin: 0 auto;
    min-width: 145px;
    padding: 2px;
    width: 100%;
  }

  .item_price_container {
    align-items: center;
    display: flex;
    height: 6%;
    justify-content: center;
    width: 100%;
  }

  .select_quant_container {
    align-items: center;
    display: flex;
    height: 13%;
    justify-content: space-between;
    margin: 0.5% auto;
    padding: 0 7px;
    width: 100%;
  }

  .add_delete_quantity {
    background-color: rgb(47, 146, 73);
    border: solid 1px gray;
    border-radius: 10px;
    color: white;
    max-height: 40px;
    max-width: 40px;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
  }

  .quantity_input {
    border: solid 1px gray;
    max-height: 52px;
    max-width: 55px;
    text-align: center;
  }

  .customer_button-cart {
    align-self: start;
    background-color: white;
    bottom: 0;
    height: 10%;
    margin-top: 33%;
    position: fixed;
    width: 95%;
    z-index: 1000;
  }

  .button_cart {
    align-items: center;
    background-color: rgb(43, 165, 102);
    background-image: url('../images/cart_icon.png');
    background-position: 8px 3px;
    background-repeat: no-repeat;
    background-size: 16%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    width: 75%;
  }

  #total {
    color: rgb(19, 19, 19);
    padding-right: 1.5%;
  }

  div .orders_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 10%;
    padding: 4%;
    width: 100%;
  }

  div #cart_header {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 10%;
    padding: 4%;
    width: 100%;
  }

  #cart_list {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #item_card {
    border: 1px solid #353535;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 5%;
    padding: 5px;
  }

  .img_shop_cart_container {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    min-width: 100px;
    padding: 2px;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
  }

  .item_info {
    height: auto;
    width: 100%;
  }

  .item_info p {
    color: #454545;
    height: auto;
  }

  .item_title {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 auto 5% 0;
  }

  .item_price {
    font-weight: 500;
    margin: 0 auto 5% 0;
    text-indent: 5%;
  }

  .item_total {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 auto 5% 0;
    text-indent: 5%;
  }

  .remove_iten_btn {
    align-items: flex-end;
    border: none;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
  }

  .remove_iten_btn img {
    height: 40px;
  }

  .total_container {
    align-items: center;
    background-color: rgb(47, 146, 73);
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 1.6em;
    font-weight: 700;
    height: auto;
    justify-content: center;
    margin-bottom: 15%;
    padding: 15px;
    width: 100%;
  }

  .divider {
    border-bottom: 2px double #353535;
    height: auto;
    margin-bottom: 5%;
    padding: 20px 0;
  }

  section {
    height: auto;
  }

  label[ for = 'seller' ] {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: auto;
    justify-content: center;  
    line-height: 2em;
    width: 80%;
  }

  label[ for = 'address' ] {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: auto;
    justify-content: center;
    padding: 0;
    width: 80%;
  }

  label[ for = 'address-number' ] {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: auto;
    justify-content: center;
    width: 18%;
  }

  form, footer {
    height: auto;
  }

  #seller {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: center;
    margin-bottom: 8%;
    padding-top: 10px;
    width: 100%;
  }

  #address_container {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    margin-bottom: 7%;
  }

  #address {
    width: 100%;
  }

  #address-number {
    width: 100%;
  }

  div .order_card {
    border: 1px solid #353535;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 15px;
    width: 98%;
  }

  div .number_order {
    height: auto;
    margin-bottom: 7%;
  }

  div .order_card p {
    height: auto;
    margin-bottom: 3%;
    text-indent: 10px;
  }

  div .order_card a:any-link {
    color: #454545;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    height: 55%;
    text-decoration: none;
  }

  div .order_details_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 5%;
    padding: 4%;
    width: 100%;
  }

  div .status_order {
    align-items: center;
    background-color: rgb(47, 146, 73);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 3em;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
  }

  div .status_order p {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
  }

  div .seller_orders_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 10%;
    padding: 4%;
    width: 100%;
  }

  label [ for = 'Role' ] {
    width: 200%;
  }

  .select_role {
    border-radius: 4px;
    height: 8vh;
    width: 100%;
  }

  .admin_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 4%;
    width: 100%;
  }
}
