@media only screen and ( max-width : 768px ) {

  .img_container {
    align-items: center;
    display: flex;
    height: 40vh;
  }

  .logo {
    height: auto;
    margin: 5% auto;
  }

  .register-btn:disabled {
    background-color: #e99ff1;
    cursor: default;
  }

  .warningRegister {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 2%;
  }
}
