* {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
